## <font color=blue>Introduction</font>

### We are scrapping different job description on Indeed.com and are using NER to extract skills for our skillset list which will be used in our model.

<hr style="border:2px solid gray">

In [25]:
# Importing Libraries

import pandas as pd
from bs4 import BeautifulSoup
import json
import numpy as np
import requests
from requests.models import MissingSchema
import spacy
import trafilatura
import warnings
warnings.filterwarnings("ignore")

In [46]:
# Defining Function for Scrapping

def beautifulsoup_extract_text(response_content):
    soup = BeautifulSoup(response_content, 'html.parser')
    text = soup.find_all(text=True)
    
    cleaned_text = ''
    blacklist = [
        '[document]',
        'noscript',
        'header',
        'html',
        'meta',
        'head', 
        'input',
        'script',
        'style',]
    for item in text:
        if item.parent.name not in blacklist:
            cleaned_text += '{} '.format(item)
    cleaned_text = cleaned_text.replace('\t', '')
    return cleaned_text.strip()

def extract_text(url):
    downloaded_url = trafilatura.fetch_url(url)
    try:
        a = trafilatura.extract(downloaded_url, output_format="JSON", with_metadata=True, include_comments = False, date_extraction_params={'extensive_search': True, 'original_date': True})
    except AttributeError:
        a = trafilatura.extract(downloaded_url, output_format="JSON", with_metadata=True, date_extraction_params={'extensive_search': True, 'original_date': True})
        
    if a:
        with open(a, 'r') as j:
            json_output = json.loads(j.read())
        return json_output['text']
    else:
        try:
            resp = requests.get(url)
            if resp.status_code == 200:
                return beautifulsoup_extract_text(resp.content)
            else:
                return np.nan
        except MissingSchema:
            return np.nan

In [20]:
# Scrapping JD from Indeed.com

url = 'https://in.indeed.com/viewjob?jk=909816a7750aa309&tk=1g9kqiksisp5e803&from=serp&vjs=3'
text = extract_text(url=url)
print(text)

Data Analyst - IAU - Gurgaon, Haryana - Indeed.com












 Find jobs Company reviews Salary Guide Post your resume Sign in Sign in Employers / Post Job Start of main content



 What Where Find Jobs Data Analyst - IAU Maruti Suzuki India Ltd 767 reviews Gurgaon, Haryana Maruti Suzuki India Ltd 767 reviews Read what people are saying about working here. Job details Job Type Full-time Full Job Description Key Responsibilities

  -

  To identify, design and develop data analytics routines to support the audit activities performed by the internal audit team.

  Maintain an effective system of data analytics and models which provide enhanced insights into risks and controls, establishes an efficient/automated means to analyze and test large volumes of data for outliers, anomalies, patterns and trends and help evaluate the adequacy and effectiveness of controls.

  Create repeatable data analytics to support continuous audit monitoring programs.

  Essential

  -

  Hands on experience of data analysis tools/

  SQL

  /

  R studio

  /

  Python

  /

  QlikView

  , tools for developing dashboards like Tableau,

  Power BI

  etc.

  CISA Certification

  or equivalent

  Experience in ERP environment would be an added advantage.

  Strong

  analytical skills

  with the ability to collect, organize, analyze, develop trends/patterns and develop reports using significant amounts of information.

  Experience

  -

  Minimum 3 years of relevant experience in data analysis.

  Qualification

  -

  CA/CMA/BTech/MTech/MBA

  Behavioral Competencies

  -

  Strong Analytical skills

  An eye to catch control gaps

  Good Presentation skills

  Common Sense & Presence of mind

  Able to work in a team

  Patience

  Good listener

  Good at liasoning Hiring Insights Job activity Posted 27 days ago Maruti Suzuki India Ltd 27 days ago original job Report job You must create an Indeed account before continuing to the company website to apply Apply now Apply on company site Save this job Save this job Data Analyst jobs in Gurgaon, Haryana Jobs at Maruti Suzuki India in Gurgaon, Haryana Data Analyst salaries in Gurgaon, Haryana Company Info Follow Get job updates from Maruti Suzuki India Ltd Maruti Suzuki India Ltd 767 reviews Maruti Suzuki India Limited (/marut̪i suzuki/) formerly known as Maruti Udyog Limited, is an automobile manufacturer in India. It is a su... in_blue_collar



 Career Advice Browse Jobs Browse Companies Salaries Indeed Events Work at Indeed Countries About Help Center © 2022 Indeed Accessibility at Indeed Privacy Center Cookies Privacy Terms Let Employers Find You Upload Your Resume

In [24]:
# Defining function for conversion in JSON and applying NER

class EntityGenerator(object):
    _slots__ = ['text']
    
    def __init__(self, text=None):
        self.text = text
        
    def get(self):
        """
        Return a Json
        """
        nlp = spacy.load("en_core_web_sm")
        doc = nlp(self.text)
        text = [ent.text for ent in doc.ents]
        entity = [ent.label_ for ent in doc.ents]
    
        from collections import Counter
        import json

        data = Counter(zip(entity))
        unique_entity = list(data.keys())
        unique_entity = [x[0] for x in unique_entity]

        d = {}
        for val in unique_entity:
            d[val] = []

        for key,val in dict(zip(text, entity)).items():
            if val in unique_entity:
                d[val].append(key)
        return d


# Printing skills as dataframe

helper = EntityGenerator(text=text)
response = helper.get()


res = {key: response[key] for key in response.keys()
                               & {'ORG'}}
df = pd.DataFrame.from_dict(res) 
pd.options.display.max_colwidth = 100
df

                                     ORG
0           Data Analyst - IAU - Gurgaon
1                      Salary Guide Post
2                        Sign in Sign in
3                Jobs Data Analyst - IAU
4                Maruti Suzuki India Ltd
5        Haryana Maruti Suzuki India Ltd
6                                    SQL
7                                Tableau
8                             Analytical
9                        Apply now Apply
10                          Data Analyst
11                  Haryana Data Analyst
12  Gurgaon, Haryana Company Info Follow

In [26]:
# Scrapping JD from Indeed.com

url1 = 'https://in.indeed.com/viewjob?jk=fcc156433e584ced&tk=1g9kqiksisp5e803&from=serp&vjs=3'
text1 = extract_text(url=url1)
print(text1)

Analyst-Data Visualization - Bengaluru, Karnataka - Indeed.com












 Find jobs Company reviews Salary Guide Post your resume Sign in Sign in Employers / Post Job Start of main content



 What Where Find Jobs Analyst-Data Visualization Accenture 22,076 reviews Bengaluru, Karnataka Accenture 22,076 reviews Read what people are saying about working here. Job Company Job details Job Type Full-time Full Job Description

 Skill required:  Data Visualization - SQL (Structured Query Language)


 Designation:  Analyst


 Job Location:  Bengaluru


 Qualifications:  BE/BTech


 Years of Experience:  3-5 years


 About Accenture

  Accenture is a global professional services company with leading capabilities in digital, cloud and security. Combining unmatched experience and specialized skills across more than 40 industries, we offer Strategy and Consulting, Technology and Operations services, and Accenture Song— all powered by the world’s largest network of Advanced Technology and Intelligent Operations centers. Our 699,000 people deliver on the promise of technology and human ingenuity every day, serving clients in more than 120 countries. We embrace the power of change to create value and shared success for our clients, people, shareholders, partners and communities.Visit us at www.accenture.com


 What would you do?

 You will be aligned with our Insights & Intelligence vertical and help us generate insights by leveraging the latest Artificial Intelligence (AI) and Analytics techniques to deliver value to our clients. You will also help us apply your expertise in building world-class solutions, conquering business problems, addressing technical challenges using AI Platforms and technologies. You will be required to utilize the existing frameworks, standards, patterns to create architectural foundation and services necessary for AI applications that scale from multi-user to enterprise-class and demonstrate yourself as an expert by actively blogging, publishing research papers, and creating awareness in this emerging area.
 You will be working as a part of the data-driven Data Visualization team which is primarily responsible for leveraging visualization tools to create informative dashboards and help enable clients and businesses to make impactful decisions.
 The role may require for you to work on SQL (Structured Query Language) which is a Domain-specific language used in programming and designed for querying and modifying data and managing databases.

 What are we looking for?

  We are looking for individuals who have the following skillset:


  Data Visualization
  Extract Transform & Load (ETL) Tools
  Adaptable and flexible
  Problem-solving skills
  Agility for quick learning
  Ability to work well in a team
  Prioritization of workload



 Roles and Responsibilities


  In this role, you are required to analyze and solve lower-complexity problems
  Your day to day interaction is with peers within Accenture before updating supervisors
  You may have limited exposure with clients and/or Accenture management
  You will be given moderate level instructions on daily work tasks and detailed instructions on new assignments
  You will need to be well versed with basic statistics and terms involved in the day to day business and use it while discussing with stakeholders
  You will be expected to constantly be on the lookout for ways to enhance value for your respective stakeholders/clients
  The decisions you make impact your work and may impact the work of others
  You will be an individual contributor as a part of a team, with a focused scope of work.



 Please note this role may require you to work in rotational shifts.

  BE/BTech Hiring Insights Job activity Posted 1 day ago Accenture 1 day ago original job Report job You must create an Indeed account before continuing to the company website to apply Apply now Apply on company site Save this job Save this job Data Analyst jobs in Bengaluru, Karnataka Jobs at Accenture in Bengaluru, Karnataka Data Analyst salaries in Bengaluru, Karnataka Company Info Follow Get job updates from Accenture Accenture 22,076 reviews Accenture is a global professional services company with leading capabilities in digital, cloud and security. Combining unmatched experie... in_blue_collar



 Career Advice Browse Jobs Browse Companies Salaries Indeed Events Work at Indeed Countries About Help Center © 2022 Indeed Accessibility at Indeed Privacy Center Cookies Privacy Terms Let Employers Find You Upload Your Resume

In [27]:
# Printing skills as dataframe

helper1 = EntityGenerator(text=text1)
response1 = helper1.get()


res1 = {key: response1[key] for key in response1.keys()
                               & {'ORG'}}
df1 = pd.DataFrame.from_dict(res1) 
pd.options.display.max_colwidth = 100
df1

                                                   ORG
0               Analyst-Data Visualization - Bengaluru
1                                    Salary Guide Post
2                                      Sign in Sign in
3                                      Job Company Job
4                            Structured Query Language
5                                             BE/BTech
6   Strategy and Consulting, Technology and Operations
7       Advanced Technology and Intelligent Operations
8                              Insights & Intelligence
9                          Artificial Intelligence (AI
10                                           Analytics
11                                        AI Platforms
12                                                  AI
13                                  Data Visualization
14                                                 SQL
15     Data Visualization \n  Extract Transform & Load
16                                     Apply now Apply
17                                        Data Analyst
18                              Karnataka Data Analyst
19        Bengaluru, Karnataka Company Info Follow Get

In [31]:
# Scrapping JD from Indeed.com

url2 = 'https://in.indeed.com/viewjob?jk=14afacd055317604&tk=1g9krrlvdjl1r801&from=serp&vjs=3'
text2 = extract_text(url=url2)
print(text2)

Data Analyst 2-8 - Bengaluru, Karnataka - Indeed.com












 Find jobs Company reviews Salary Guide Post your resume Sign in Sign in Employers / Post Job Start of main content



 What Where Find Jobs Data Analyst 2-8 PayPal 1,589 reviews Bengaluru, Karnataka PayPal 1,589 reviews Read what people are saying about working here. Job Company Job details Job Type Full-time Benefits Pulled from the full job description Health insurance Full Job Description
 At PayPal (NASDAQ: PYPL), we believe that every person has the right to participate fully in the global economy. Our mission is to democratize financial services to ensure that everyone, regardless of background or economic standing, has access to affordable, convenient, and secure products and services to take control of their financial lives.
 Job Description Summary: PayPal is a leading technology platform and digital payments company that enables digital and mobile payments on behalf of consumers and merchants worldwide. Its solutions include PayPal, PayPal Credit, Braintree, Venmo, Xoom, iZettle, and Paydiant products. PayPal is committed to democratizing financial services and empowering people and businesses to join and thrive in the global economy. Our goal is to enable our consumers and merchants to manage and move their money anywhere in the world, anytime, on any platform and using any device.
 Job Description:

 About the Role



  As a Data Scientist at PayPal, you will apply your strategic and analytical skills to major company challenges. You will act as a business consultant to drive recommendations and implement solutions that ultimately impact the bottom line. And you will do it all by collaborating with a global team of colleagues across sales, operations, product, data science, and finance in an environment that values your insight, encourages you to take on new responsibility, promotes continuous learning, and rewards innovation.



  Your Day-to-day Will Involve




  Using modeling and analytics to understand how business decisions impact our bottom line. This may include assessing risks of new products, determining fraud policies, or identifying inefficiencies in existing operations.
  Ensuring the team is delivering on our KPIs by using various data mining and data visualization tools to monitor portfolio performance and identify improvement opportunities
  Developing hypotheses and set up your own problem frameworks to test for the best solutions. You will also scope the operational feasibility, lead implementation efforts, and monitor the success of your solutions.
  Leveraging data analysis tools and technologies. For example, using machine learning to determine how we identify fraud.
  Creating new solutions rooted in empathy and research that assist all customers as they work to better manage their finances.






  Collaborating in a team environment. As part of our crew, you will learn to energetically rally diverse groups in pursuit of a common goal.




  The Ideal Candidate Is



  Innovative &  Curious  - You have the desire and ability to connect and empathize with our customers. You have an entrepreneurial spirit and get excited about creating new businesses and reinventing current ones. You ask why, explore, and bring your unique perspective to the table.






  Analytical   &   Action -Oriented  - You are data driven and outcome focused. You grow comfortable with ambiguity, fueled by a hunger to learn and constantly seeking out new challenges. You have a desire to take action, try new things, and sometimes fail. You persevere but know when to change course and are up for juggling multiple deliverables.
  Collaborative & Team-Oriented   - You always keep the people around you in the loop and are excited to communicate complex ideas clearly to make sure your co-workers understand the “why” behind their work and their key priorities.
  Inclusive  - You will empathize with those around you and care about their success, as you bring people together around what’s possible.






  Basic Qualifications



  Bachelor’s degree or higher in a quantitative field (Business, Math, Economics, Finance, Statistics, Science, Engineering)
  Experience with or willingness to learn tools such as SQL, R, Python, Tableau





  We're a purpose-driven company whose beliefs are the foundation for how we conduct business every day. We hold ourselves to our One Team Behaviors, which demand that we hold the highest ethical standards, to empower an open and diverse workplace, and strive to treat everyone who is touched by our business with dignity and respect. Our employees challenge the status quo, ask questions, and find solutions. We want to break down barriers to financial empowerment. Join us as we change the way the world defines financial freedom.



  PayPal provides equal employment opportunity (EEO) to all persons regardless of age, color, national origin, citizenship status, physical or mental disability, race, religion, creed, gender, sex, pregnancy, sexual orientation, gender identity and/or expression, genetic information, marital status, status with regard to public assistance, veteran status, or any other characteristic protected by federal, state or local law. In addition, PayPal will provide reasonable accommodations for qualified individuals with disabilities.


 Our Benefits:
  At PayPal, we’re committed to building an equitable and inclusive global economy. And we can’t do this without our most important asset—you. That’s why we offer benefits to help you thrive in every stage of life. We champion your financial, physical, and mental health by offering valuable benefits and resources to help you care for the whole you.
  We have great benefits including a flexible work environment, employee shares options, health and life insurance and more. To learn more about our benefits please visit https://www.paypalbenefits.com

 Who We Are:
  To learn more about our culture and community visit https://about.pypl.com/who-we-are/default.aspx

 PayPal has remained at the forefront of the digital payment revolution for more than 20 years. By leveraging technology to make financial services and commerce more convenient, affordable, and secure, the PayPal platform is empowering more than 400 million consumers and merchants in more than 200 markets to join and thrive in the global economy. For more information, visit paypal.com.
 PayPal provides equal employment opportunity (EEO) to all persons regardless of age, color, national origin, citizenship status, physical or mental disability, race, religion, creed, gender, sex, pregnancy, sexual orientation, gender identity and/or expression, genetic information, marital status, status with regard to public assistance, veteran status, or any other characteristic protected by federal, state or local law. In addition, PayPal will provide reasonable accommodations for qualified individuals with disabilities. If you are unable to submit an application because of incompatible assistive technology or a disability, please contact us at paypalglobaltalentacquisition@paypal.com.
  As part of PayPal’s commitment to employees’ health and safety, we have established in-office Covid-19 protocols and requirements, based on expert guidance. Depending on location, this might include a Covid-19 vaccination requirement for any employee whose role requires them to work onsite. Employees may request reasonable accommodation based on a medical condition or religious belief that prevents them from being vaccinated.
 Hiring Insights Job activity Posted 14 days ago Paypal 14 days ago original job Report job You must create an Indeed account before continuing to the company website to apply Apply now Apply on company site Save this job Save this job Senior Data Analyst jobs in Bengaluru, Karnataka Jobs at PayPal in Bengaluru, Karnataka Senior Data Analyst salaries in Bengaluru, Karnataka Company Info Follow Get job updates from PayPal PayPal 1,589 reviews Fueled by a fundamental belief that having access to financial services creates opportunity, PayPal (NASDAQ: PYPL) is committed to democr... in_blue_collar



 Career Advice Browse Jobs Browse Companies Salaries Indeed Events Work at Indeed Countries About Help Center © 2022 Indeed Accessibility at Indeed Privacy Center Cookies Privacy Terms Let Employers Find You Upload Your Resume

In [32]:
# Printing skills as dataframe

helper2 = EntityGenerator(text=text2)
response2 = helper2.get()


res2 = {key: response2[key] for key in response2.keys()
                               & {'ORG'}}
df2 = pd.DataFrame.from_dict(res2) 
pd.options.display.max_colwidth = 100
df2

                              ORG
0               Salary Guide Post
1                 Sign in Sign in
2                       Jobs Data
3                 Job Company Job
4                            PYPL
5           PayPal, PayPal Credit
6                           Venmo
7   Collaborative & Team-Oriented
8                      Statistics
9            Science, Engineering
10                            SQL
11                         Python
12                        Tableau
13                            EEO
14                Apply now Apply
15            PayPal PayPal 1,589

<hr style="border:2px solid gray">